RIOT_TOKEN=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=lor
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniominio
S3_ACCESS_KEY=4r7g8c8uYH9aB0vh3yuy
S3_SECRET_KEY=OERm2Usgx6O6Ni4sDqlEOPjRCdcvxl8kwC2WlHwO
SECRET_KEY_BASE=T3pGjk5kgrtRK2VOo8Ng3QC3I56JHbj6J1CNnJ74bMoL0fLg5b6xB+jWDLf03jUp
SPECTATOR_SERVER=true
DDRAGON_CACHE=true
SCHEDULER=true
PRO_SCHEDULER=true
OBAN_QUEUES="default,10"
SCHEDULER_PLATFORMS="kr"
QUEUE_PRO_PLATFORMS="kr"
PORT=4000
SPECTATOR_PORT=3000
HOST=localhost
